* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.log {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.columns {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    width: 350px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
    color: #ffffff;
}

.banner2 {
    background-color: #0079c7;
    color: #ffffff;
}

.banner3 {
    background-color: #2b4c99;
    color: #ffffff;
}

.banner_title {
    font-size: 20px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #ffff;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    background-color: #2b4c99;
    color: white;
}

.banner_desc_horario {
    flex-direction: column;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 5px;
}

.dias {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;

}

.conteudo {
    width: 100px;
    height: 100px;
    background: #00BFFF;
    margin-top: 10px;
    margin-left: 20px;
}

.text-conteudo {
    margin-top: 25px;
}

.consulta_contact {
    margin-top: 30px;
}

.consulta_contact-item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.consulta_contact-item:first-child {
    border-top: 1px solid #ececec;
}

.consulta_contact-icon {
    width: 25px;
    height: 25px;
    background: #cccccc;
    margin-right: 15px;
}